body{
    background: #f1e7e7;
} 

.grid{
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

.subgrid{
    display: grid;
}

.subgrid2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#audio-player-cont{
  /*  display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr; */
    width: 100%;   /*add grid-column attribute to locate this in the center of the page*/
    height: auto;
    background:#f3ebdc;
    box-shadow: 0 0 6px 2px #c7a8a8;
    color: #003ba9;
    font-family: verdana;
    font-size: 12px;
    grid-column: 2/4;
}

.logo{
    grid-row: 1/3;
}

img{
    display:block;
    height:auto;
}

#player{    /*get rid of these floats*/       
    grid-column: 3/4;
    margin: 7px;
}

.song-title{
    width: 300px;
    padding: 5px 0px 5px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.song-slider{
    width: 300px;
}

.current-time{
   /* float: left; */
    font-size: 10px;
}

.duration{
   /* float: right; */
    font-size: 10px;
}

.controllers{
  /*  clear: both; */
    display: table;
}

.volume-down{
    justify-self: end;
}

.controllers *{
    align-content: center;
    margin-right: 2px;
}

.volume-slider{
    width: 90px;
    margin-left: 5px;
}